.imageContainer {
  margin: 1rem;
  object-fit: contain;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.portrait {
  max-width: 92px;
  max-height: 200px;
  border-radius: 0.5rem;
  transition: transform 500ms;
}

.portrait:hover {
  transform: scale(1.25) translateY(-20%);
}

.landscape {
  max-width: 360px;
  border-radius: 2rem;
  transition: transform 500ms;
}

.landscape:hover {
  transform: scale(1.1) translateY(-20%);
}

.image {
  object-fit: contain;
}

.projectDesc {
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 200;
}

.link {
  color: #1bf522;
}

.link:hover {
  color: teal;
  cursor: pointer;
}
