.jobChill {
  color: #1bf522;
}

.jobDesc,
.jobTimeline {
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 200;
}

.ibotta-inc {
  color: #df2a63;
}

.granicus-inc {
  color: #d61f36;
}

.motion-recruitment-partners-llc {
  color: #00ae42;
}
