#skills {
  padding-top: 8rem;
  height: 100%;
  width: 100vw;
}

.aboutMeText {
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 200;
}

.about-me-wrapper {
  padding: 1rem 8rem;
}

.aboutMe {
  position: sticky;
  top: 6rem;
  margin: 10px;
  max-height: 800px;
}

.aboutMeHeader {
  color: #1bf522;
}

.resumeLink {
  max-width: 170px;
}

.resumeLink:hover {
  color: #1bf522;
  border-bottom: 3px solid #1bf522;
}

@media screen and (max-width: 1010px) {
  #skills {
    padding-top: 2rem;
  }
}
