#intro {
  min-height: calc(100svh - 5rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
}

.introImage {
  height: vh100;
}

.bgContainer {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  animation: 7s border-shift infinite forwards;
  overflow: hidden;
}

@keyframes border-shift {
  0% {
    border-radius: 250px 150px 250px 150px;
  }
  50% {
    border-radius: 150px 250px 150px 250px;
  }
  100% {
    border-radius: 250px 150px 250px 150px;
  }
}

.bg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 1000ms ease;
  translate: 0px -25px;
}

.bg:hover {
  transform: scale(1.25);
}

.introContent {
  height: 100vh;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: #1bf522;
}

.introTitle {
  font-size: 2rem;
  padding: 0;
  font-weight: 400;
}

.introDescription {
  letter-spacing: 1px;
  font-weight: 200;
}

.linkImg {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1010px) {
  .bgContainer {
    width: 275px;
    height: 275px;
  }

  .bg {
    width: 300px;
    height: 300px;
  }

  .introImage {
    height: 100%;
  }

  .introContent {
    height: 100%;
  }
  #intro {
    min-height: 0;
  }
}
